<%= form_tag('/home/change', method: :post) do %>
  <p>Student ID</p>
  <input type="number" name="id" value="<%= @user.id %>" >
    <p>Student Name</p>
  <input type="text" name="name" value="<%= @user.name %>" >
    <p>Student Email</p>
  <input type="text" name="email" value="<%= @user.email %>">
    <p>Payment</p>
  <% if @user.payment==true %>
  <input type="radio" name="payment" value=true checked="checked" />Paid
  <input type="radio" name="payment" value=false />Not yet or Not now
  <% else %>
  <input type="radio" name="payment" value=true checked="checked" />Paid
  <input type="radio" name="payment" value=false checked="checked"  />Not yet or Not now
  <% end %>
    <p>Stripe ID</p>
  <input type="text" name="stripe_id" value="<%= @user.stripe_id %>">
  <p>Stripe Email</p>
  <input type="text" name="stripe_email" value="<%= @user.stripe_email %>">
  <p>Subscription ID</p>
  <input type="text" name="subscription_id" value="<%= @user.subscription_id %>">
  <p>Admin</p>
  <% if @user.admin==true %>
  <input type="radio" name="admin" value=true checked="checked" />Admin
  <input type="radio" name="admin" value=false />Normal
  <% else %>
  <input type="radio" name="admin" value=true checked="checked" />Admin
  <input type="radio" name="admin" value=false checked="checked"  />Normal
  <% end %>
  <p></p>
  <input type="submit">
<% end %>
