<p id="notice"><%= notice %></p>

<div class="text-center">
  <p>
    <h1 class="text-center"><%= @post.title %></h1>
  </p>
  <p>
  <% @post.categories.each do |c| %>
    <%= link_to c.name, "/categories/#{c.id}",class:"btn btn-outline-secondary btn-sm" %>
  <% end %>
  </p>

    <span class="video-container">
      <iframe src="<%= @post.video%>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </span>


  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
</div>
<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-secondary" %> |
<%= link_to 'Back', posts_path, class:"btn btn-outline-secondary"  %>
